.max-width
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    height: 100%;

.bg-red
    background-color: $bde-red;
    color: #fff;

.bg-blue 
    background-color: $bde-blue;
    color: #fff;
    div.ray-dot
        div
            background-color: #fff !important;

.bg-green
    background-color: $bde-green;    
    div.ray-dot
        div:nth-child(2)
            background-color: #404040 !important;

.bg-dark
    background-color: $bde-dark;
    color: #fff;

.bg-darker
    background-color: $bde-darker;
    color: #fff;

.bg-yellow
    background-color: $bde-yellow;
    div.ray-dot
        div:nth-child(2)
            background-color: #404040 !important;

.bg-none
