.hero-content
    position: relative;    
    height: 450px;    
    background-size: cover;
    background-image: url('./assets/hero.jpg');
    background-position: center center;
    //box-shadow: 0px 5px 15px #404040;
    color: #fff;
    min-height: 50vh;    

    .cover
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0,0,0, .65);

    .content
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        //border: 1px solid red;

        /*.row2            
            flex: 0 0 100px;
            display: flex;
            //border: 1px solid blue; */
        
        .row1
            //padding-top: 100px;
            z-index: 1;
            margin: 0 auto;
            //border: 1px solid green;
            flex-grow: 1;
            display: flex;            
            align-items: center;
            text-align: center;

            .logo-and-text
                display: flex;
                flex-direction: column;

                $logo-size: 75px;
                .logo
                    width: $logo-size;
                    height: $logo-size;
                    background-size: $logo-size $logo-size;

                .site-title
                    font-size: 42px;

    .social-media
        //top: -90px;
        //justify-content: left;
        //padding-left: 35px;       
        padding-top: 10px;

        .circle
            border: 2px solid #fff;
            width: 45px;
            height: 45px;
            line-height: 41px;        
            margin: 0 7px;    
            font-size: 16px;

            &.github
                display: none;
