.programs-section {
    background-color: $bde-red;
    color: #fff;
    
    .text {
        opacity: 1;
    }
        
    .content {
        margin-top: 30px;
        text-align: center;
        font-size: 40px;
        font-style: italic;
        padding: 150px 0;
        border: 3px dashed rgba(255,255,255,.5);
        color: rgba(255,255,255,.5);
        margin-bottom: 50px;
    }        
}
    